<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: navigation"></nav>

    <main class="page">
        <section class="clean-block">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info" th:text="#{msg.course.title}"></h2>
                    <p th:text="#{msg.course.subtitle}"></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4 mb-5" th:each="course :${courses}" >
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3 th:text="${course.getName()}"></h3>
                            </div><img style="width: 290px;height: 210px;" th:src="@{${'/images/' + course.getPlane() + '.jpg'}}">
                            <div class="features">
                                <h4>
                                    <span class="feature" th:text="#{msg.course.durationInDays(${course.getDuration()})}"></span>
                                </h4>
                                <h4>
                                    <span class="feature" th:text="#{msg.course.instructor(${course.getInstructor().getUsername()})}"></span>
                                </h4>
                                <h4>
                                    <span class="feature" th:text="#{msg.course.plane(${course.getPlane()})}"></span>
                                </h4>
                            </div>
                            <div class="price"></div>
                            <a class="btn btn-primary btn-block" th:href="@{${'/course/'+course.getId() +'/enroll'}}" role="button" th:text="#{msg.course.button.enroll}"></a></div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="fragments :: footer"></footer>

    <div th:replace="fragments :: scripts"></div>

</body>

</html>